<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
</head>
<body ng-app="testApp" ng-controller="textController" style="padding-top:60px;">




    <div class="container">

        <select ng-model="form.pageSize">
            <option value='5'>[5]</option>
            <option value='10'>[10]</option>
            <option value='15' selected="selected">[15]</option>
            <option value='50'>[50]</option>
            <option value='100'>[100]</option>
        </select>

        <p>Show name</p>
        <select ng-model="form.showName">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>

        <grid-view allow-sorting="true" allow-pagging="true" allow-search="true" page-size="{{form.pageSize}}" gvdata-source="form.directory" empty-text="NO RECORDS FOUND">
            <columns>
                <column header-text="Name" sorteable="true" data-field="name" text="{{name | uppercase}}" null-text="{{'No name supplied' | uppercase}}"></column>
                <column header-text="Phone" data-field="phone" null-text="No Phone supplied"></column>
                <column header-text="Salario" data-field="salario" column-type="number" text="{{salario | currency : '$'}}" null-text="{{0 | currency : '$'}}"></column>
                <column header-text="Hire Date" data-field="hire_date" text="{{hire_date | date : 'dd-MM-yyyy'}}" null-text="No hire date"></column>
                <templatecolumn>
                    <button class="btn btn-danger btn-xs" ng-click="pruebame(row)">Pruebame</button>
                </templatecolumn>
            </columns>
        </grid-view>
    </div>



    <button ng-click="addValue()">Prueba 2</button>
    <button ng-click="addPage()">Add page</button>
    <button ng-click="removePage()">Remove page</button>


    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/ng-grid-view.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
