<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
</head>
<body ng-app="testApp" ng-controller="textController">




    <div class="container">

        <grid-view allow-sorting="true" allow-pagging="true" allow-search="" page-size="5" gvdata-source="form.directory" empty-text="">
            <columns>
                <column header-text="#" counter="true"></column>
                <column header-text="Name" sorteable="true" data-field="name" text="{{name | uppercase}}" null-text="{{'no hay valores' | uppercase}}"></column>
                <column header-text="Phone" data-field="phone"></column>
                <templatecolumn>
                    <button class="btn btn-danger btn-xs" ng-click="pruebame($parent.$parent.$index)">Pruebame</button>
                </templatecolumn>
            </columns>
        </grid-view>
    </div>



    <button ng-click="addValue()">Prueba 2</button>
    <button ng-click="addPage()">Add page</button>
    <button ng-click="removePage()">Remove page</button>


    <script src="assets/js/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/ng-grid-view.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
